@page
@model dotnet_lessons.Pages.HumanResourceModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title text-primary mb-4">Welcome to the Humann Resource Page</h2>

                    <div class="mt-4">
                        <p>
                            This is  The Humann Resource page</s>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
