@page
@model dotnet_lessons.Pages.SettingsModel
@{
    ViewData["Title"]  = "Admin Settings Page";
}

<div class="card">

    <h2> Admin Settings Page</h2>
    <p>this is Admins Settings Page </p>

</h2>


</div>